@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

input{
  border: 1px solid #4D5758;
  padding: 6px 0 6px 10px;
}

button{
  color: white;
  height: 35px;
  padding: 0 10px;
  border: 0;
  border-radius: 4px;
  background-color: #6658F6;
  cursor: pointer;
}

.App {
  background-image: url(./static/dotted.webp);
  background-size: 250px;
  min-height: 100vh;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4D5758;
}

/* @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    table{
      width: 100vh;
    }
} */

@media only screen 
  and (min-device-width: 280px)
  and (max-device-width: 320px) {
    input{
        width: 120px;
    }
}